@import "tailwindcss";

:root {
  --wa-bg-main: #ECE5DD;        /* Chat background */
  --wa-bg-secondary: #FFFFFF;  /* Cards, input area */
  --wa-header: #075E54;        /* Top bar */
  --wa-accent: #25D366;        /* Primary green */
  --wa-text-main: #111B21;     /* Main text */
  --wa-text-secondary: #667781;/* Sub text */
  --wa-border: #E9EDEF;        /* Borders */
  --wa-sent-msg: #DCF8C6;      /* Sent message bubble */
  --wa-received-msg: #FFFFFF; /* Received message bubble */
}

.dark {
  --wa-bg-main: #0B141A;        /* Chat background */
  --wa-bg-secondary: #1F2C34;  /* Cards, input */
  --wa-header: #202C33;        /* Top bar */
  --wa-accent: #25D366;        /* WhatsApp green */
  --wa-text-main: #E9EDEF;     /* Main text */
  --wa-text-secondary: #8696A0;/* Sub text */
  --wa-border: #2A3942;        /* Borders */
  --wa-sent-msg: #005C4B;      /* Sent message bubble */
  --wa-received-msg: #1F2C34;  /* Received message bubble */
}


@font-face {
  font-family: "Marcellus";
  src: url("./assets/fonts/Marcellus-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Font utility classes */
.font-heading {
  font-family: "Marcellus", serif;
}

.font-body {
  font-family: "Oswald", sans-serif;
}


/* Autofill Transparent background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: var(--text-main);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 9999s ease-in-out 0s;
}


.dark input:-webkit-autofill,
.dark textarea:-webkit-autofill {
  -webkit-text-fill-color: var(--text-main);
}