@import "tailwindcss";

:root {
  /* Backgrounds */
  --bg-main: #ffffff;
  --bg-secondary: #cfcfcf;
  --bg-tertiary: #f3f4f6;

  /* Text */
  --text-main: #1c1c1c;
  --text-secondary: #353535;
  --text-muted: #868686;

  /* Borders & Dividers */
  --border-light: #e0e0e0;

  /* Accent (Your specified green palette) */
  --accent-primary: rgb(45, 146, 45);
  --accent-hover: rgb(20, 100, 20);
  --accent-soft: #588157;

  /* blue Button */
  --accent-blue: #0f8dd5;

  /* chat color */
  --bg-chat: #d9fdd3;
  --bg-other-chat: #fff;

  /* Code */
  --code-bg: #f4f6f8; /* soft cool grey */
  --code-text: #1f2937;

  /* Status Colors - Harmonized with accent */
  --success: rgb(26, 124, 26);
  --warning: #b45309;
  --error: #bb2b2b;

  /* Shadows */
  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.08);

  /* Transitions */
  --transition-fast: 0.2s ease;
  --transition-base: 0.5s ease;

  /* Scrollbar Thumb */
  --scroll-thumb: rgb(185, 185, 185);
}

.dark {
  /* Backgrounds */
  --bg-main: #0a0a0a;
  --bg-secondary: #1d1d1d;
  --bg-tertiary: #2d2d2d;

  /* Text */
  --text-main: #eaeaea;
  --text-secondary: #dbdbdb;
  --text-muted: #b5b5b5;

  /* Borders & Dividers */
  --border-light: #1f1f1f;

  /* Accent (Adjusted for dark mode) */
  --accent-primary: #41b13d;
  --accent-hover: rgb(49, 110, 49);
  --accent-soft: #588157;

  /* blue Button */
  --accent-blue: #0f8dd5;

  /* chat color */
  --bg-chat: #005c4b;
  --bg-other-chat: #202c33;

  --code-bg: #111827;        /* deep slate */
  --code-text: #e5e7eb; 

  /* Status Colors */
  --success: #66bb6a;
  --warning: #d97706;
  --error: #ec5151;

  /* Shadows */
  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.8);
  --shadow-md: 0 8px 25px rgba(102, 187, 106, 0.15);

  /* Scrollbar Thumb */
  --scroll-thumb: rgb(27, 27, 27);
}

@font-face {
  font-family: "Marcellus";
  src: url("./assets/fonts/Marcellus-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Font utility classes */
.font-heading {
  font-family: "Marcellus", serif;
}

.font-body {
  font-family: "Oswald", sans-serif;
}

/* Autofill Transparent background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: var(--text-main);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 9999s ease-in-out 0s;
}

.dark input:-webkit-autofill,
.dark textarea:-webkit-autofill {
  -webkit-text-fill-color: var(--text-main);
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  transition: ease-in-out;
}

button {
  cursor: pointer;
}
